.pnpm-store
docker-store
node_modules
coverage
.angular
.nx
coverage-report
gh-artifacts
logs
dist
storybook-static
build
tmp
test-results
validation-output
pnpm-lock.yaml
apps/**/target
tools/**/target
tools/codeql
