.app-footer {
  height: 40px;
  box-sizing: border-box;
  padding: 0 0.25em;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#0b1220;
  color:#cbd5e1;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  border-radius: 6px;
}
